name: h3x_devtools
description: h3x4d3c1m4l's Personal Dev Tools

publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.9.0'

dependencies:
  # Flutter framework
  flutter: { sdk: flutter }

  # UI
  fluent_ui: 4.13.0
  intl: 0.20.2
  google_fonts: 8.0.1
  go_router: 17.1.0
  particle_field: 1.0.0
  live_background: 0.1.3
  syntax_highlight: 0.5.0

  # State management
  mobx: 2.6.0
  flutter_mobx: 2.3.0

  # HTTP client
  http: 1.6.0

  # Parsing
  string_scanner: any
  petitparser: 6.1.0 # >= 7.0.0 causes compile error.
  sealed_unions: 3.0.3+1
  characters: any

  # Collections and querying
  collection: any
  darq: 2.1.0

  # URL launching
  url_launcher: 6.3.2

  # Persistence
  flutter_secure_storage: 10.0.0
  shared_preferences: 2.5.4

  # Misc
  rnd: 0.2.0
  reflectable: 5.1.0

dev_dependencies:
  # Flutter framework
  flutter_test: { sdk: flutter }

  # Code quality
  flutter_lints: 6.0.0

  # Code generation
  build_runner: 2.11.1

  # State management
  mobx_codegen: 2.7.5

  reflectable_builder: 1.1.0

flutter:
  uses-material-design: true

  assets:
  - lib/solvers/advent_of_code/2021/
  - lib/solvers/advent_of_code/2022/
  - lib/solvers/advent_of_code/2023/
  - lib/solvers/advent_of_code/2024/
  - assets/google_fonts/
  - assets/christian-buehner-DItYlc26zVI-unsplash.jpg
  - assets/advent_of_code/
