name: PR CI App - Web

on:
  pull_request:
    branches: [ main ]
    paths-ignore: [ .github/workflows/build-and-deploy-to-pages.yml, README.md ]

jobs:
  build:
    name: Build

    runs-on: ubuntu-24.04

    steps:
    - name: Checkout
      uses: actions/checkout@v6

    - name: Detect Flutter version
      uses: kuhnroyal/flutter-fvm-config-action@v3

    - name: Setup Flutter
      uses: flutter-actions/setup-flutter@v4
      with:
        channel: stable
        version: ${{ env.FLUTTER_VERSION }}
        cache: true
        cache-sdk: true

    - name: Disable Flutter analytics and CLI animations
      run: flutter config --no-analytics --no-cli-animations

    - name: Flutter SDK precache
      run: flutter precache --web

    - name: Flutter version
      run: flutter --version

    - name: Install dependencies
      run: flutter packages get

    - name: Run code generation
      run: dart run build_runner build

    - name: Flutter analyze
      run: flutter analyze

    - name: Build web
      run: flutter build web --release --wasm --base-href '/devtools/'

    - name: Fix permissions
      run: |
        chmod -c -R +rX "build/web/" | while read line; do
          echo "::warning title=Invalid file permissions automatically fixed::$line"
        done

    - name: Upload artifact
      uses: actions/upload-pages-artifact@v4
      with:
        path: 'build/web'
